<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyue.mapper.ApplyoutMapper">

    <resultMap id="applyoutResultMap" type="Applyout">
        <id column="aoid" property="id"/>
        <result column="house_id" property="house_id"/>
        <result column="address" property="address"/>
        <result column="status" property="status"/>
        <result column="user_id" property="user_id"/>
        <collection property="userlist" ofType="Userlist">
            <id property="id" column="id"/>
            <result column="name" property="name"/>
            <result column="idcard" property="idcard"/>
            <result column="phone" property="phone"/>
            <result column="user_id" property="user_id"/>
            <result column="nickname" property="nickname"/>
        </collection>
    </resultMap>
    <delete id="delapplyout" parameterType="Applyout">
        delete
        from applyout
        where house_id = #{house_id}
    </delete>

    <select id="findAll" resultMap="applyoutResultMap">
        SELECT a.*,
               u.name,
               u.nickname,
               u.idcard,
               u.phone
        FROM applyout as a
        LEFT JOIN userlist as u ON u.user_id = a.user_id
        <if test="search!=''">
            where a.address like "%"#{search}"%"
        </if>
    </select>
    <select id="findByHouse_idApplyout" resultType="Applyout">
        select *
        from applyout
        where aoid = #{aoid}
    </select>
    <update id="updateapplyoutbyhouse" parameterType="Applyout">
        update applyout
        set status=#{status}
        where house_id = #{house_id}
    </update>
    <insert id="addApplyout" parameterType="Applyout">
        insert into applyout(house_id, address, status, user_id)
        values (#{house_id}, #{address}, #{status}, #{user_id})
    </insert>
</mapper>
