<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyue.mapper.HetongMapper">

    <insert id="addHetong" parameterType="Hetong">
        insert into hetong(house_id, address, payday, price, chuzu, chuzu_idcard, zuke, zuke_idcard, fromdate, todate)
        values (#{house_id}, #{address}, #{payday}, #{price}, #{chuzu}, #{chuzu_idcard}, #{zuke}, #{zuke_idcard},
                #{fromdate}, #{todate})
    </insert>
    <update id="editHetong" parameterType="Hetong">
        UPDATE Hetong
        SET chuzu        = #{chuzu},
            chuzu_idcard = #{chuzu_idcard},
            zuke         = #{zuke},
            zuke_idcard  = #{zuke_idcard},
            fromdate     = #{fromdate},
            todate       = #{todate},
            price        = #{price},
            address      = #{address},
            payday       = #{payday}
        WHERE house_id = #{house_id}
    </update>
    <delete id="delHetong" parameterType="Hetong">
        delete
        from hetong
        where house_id = #{house_id}
    </delete>
    <select id="findhetong" resultType="Hetong">
        select *
        from hetong
        where house_id = #{house_id}
    </select>
</mapper>
